<div class="container mt-5" *ngFor="let student of students">
  <ul class="list-group">
    <li class="list-group-item active">Student Details</li>
    <li class="list-group-item"><b>Student ID: </b>
      <p>{{student.id}}</p>
    </li>
    <li class="list-group-item"><b>Student First Name: </b>
      <p>{{student.first_name}}</p>
    </li>
    <li class="list-group-item"><b>Student Last Name: </b>
      <p>{{student.last_name}}</p>
    </li>
    <li class="list-group-item"><b>Student Date Of Birth: </b>

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="student.date_of_birth"
              ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

    </li>
  </ul>
</div>
