<div class="container mt-5" *ngFor="let student of students">
  <ul class="list-group">
    <li class="list-group-item active">Student Details</li>
    <li class="list-group-item"><b>Student ID: </b>
      <p>{{student.id}}</p>
    </li>
    <li class="list-group-item"><b>Student First Name: </b>
      <p>{{student.first_name}}</p>
    </li>
    <li class="list-group-item"><b>Student Last Name: </b>
      <p>{{student.last_name}}</p>
    </li>
    <li class="list-group-item"><b>Student Date Of Birth: </b>
      <p>{{student.date_of_birth}}</p>
    </li>
  </ul>
</div>
