<div class="container">
  <h1>Register a Student</h1>
  <div>
    <div class="form-group">
      <label for="firtName">First Name</label>
      <input [(ngModel)]="student.fist_name" type="email" class="form-control" aria-describedby="First name">
    </div>
    <div class="form-group">
      <label for="LastName">First Name</label>
      <input [(ngModel)]="student.last_name" type="email" class="form-control" aria-describedby="First name">
    </div>
    <button (click)="saveStudent()" type="submit" class="btn btn-primary">Add Student</button>
  </div>
</div>
